#foto{
    width: 160x;
    height: 150px;
    border-radius: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
}
.cabecalho{
    border-color: rgb(128, 128, 128);
    border-width: 6px;
    border-style: ridge;
    width: 40%;
    display:block;
}
.info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 2em;
    margin-bottom: 4%;
}

#nome{
    letter-spacing: 7;
    line-height: 1.5m; 
}

.sobre{
    border-color: rgb(128, 128, 128);
    border-width: 6px;
    border-style: ridge;
    width: 40%;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 2em;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}

.formacao{
    border-color:  rgb(128, 128, 128);
    border-width: 6px;
    border-style: ridge;
    width: 40%;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 2em;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;

}

.objetivo{
    border-color:  rgb(128, 128, 128);
    border-width: 6px;
    border-style: ridge;
    width: 40%;
    display:block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 2em;
    margin-bottom: 4%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
}